body {
  font-family: "open Sans", "sans-serif";
  padding-bottom: 50px; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto"; }

.jumbotron {
  background-image: linear-gradient(to bottom, #573838, #724c4c, #866464);
  margin-bottom: 0;
  color: white; }

#top-navbar {
  background-color: #d1d2d3;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

#bottom-navbar {
  height: 3rem;
  background-color: #573838;
  color: white;
  margin: 0;
  padding-bottom: 0;
  margin-top: 20px; }

.row-content {
  min-height: 100px; }

.site-footer {
  background-color: #573838; }
