body {
    font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: "Roboto";
    color: white;
}

.jumbotron {
    background-image: linear-gradient(to bottom, rgb(71, 61, 61), rgb(92, 76, 76), rgb(88, 76, 76));
    margin-bottom: 0;
    color: white;
}

.navbar {
    background-color: grey;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

